.begin-order{
    color: red;
}
/*this is the form class that appears once the begin order is clicked*/
.selections{
    display:none;
}
/*this class is in the span in the select size option list*/
.pizzatime{
    min-height: 740px;
    max-width: 740px;
    background-image: url('pizza.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
}
.toppings-select{
    display:none;
}
.quantity{
    display:none;
}
#submit-order{
    display:none;
}
#new-item{
    display:none;
}
